*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "main";
}


/* Header */

header{
    grid-area: header;
    display: flex;
    background-color: #7477bf;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 5px;
    height: 4em;

}

.flex-group{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.profile-image{
    border-radius: 80px; 
    width: 45px;
    margin: 10px;
    margin-left: gray;
}


.bell-icon{
    width: 25px;
    height: 25px;
    fill: #ffffff;
}

.header-main{
    display: flex;
    align-items: center;
}


/* Nav */

nav{
    grid-area: nav;
    background-color:#4d4c72;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4em;
}

nav a{
    width: 45px;
    height: 45px;
    margin: 0 20px;
    fill: #ffffff;
}

.tab-gap{
    background-color: #f7f7f7 ;
    padding: 2rem;
    width: 100%;
    border: 0.5px solid black;
}

.headline{
    margin: 0 15px;
    font-size: 1.2em;
}

.alert{
    display: flex;
    background-color: #7477bf;
    justify-content:space-between;
    margin: 10px 15px;
    border-radius: 0.5em;
}

.alert-text{
    margin-left: 15px; 
    font-size: 1em;
}

.alert-close{
    color: white;
    margin-right: 15px;
}

.label-headline{
    color: grey;
}

/* Main Section */

main{
    grid-area: main;
    width: 100%;
    display: block;
}

/* Traffic section */

#section-2, 
#section-3, 
#section-4, 
#section-5,
#section-6{
    margin: 0 15px;
}

.traffic-breakdown{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}


h1, h3{
    font-size: .8em;
    font-weight: normal;
    color: #ffffff;
}

h1{
    font-size: 1.2em;
}

h3{
    margin-right: 5px;
}

/* Social Stats Section */

.cards-container{
    display: flex;
    flex-direction: column;
}

.social-card{
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    background-color: #f5f5f5;
    align-content: flex-start;
    border: 1px solid grey;
    border-radius: 2%;
    margin-bottom: 10px;
}

.social-card:last-child{
    margin-bottom: 0px;
}

.social-color{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #7477bf;
    margin-left: 25px;
}

.social-icon{
    margin: auto;
    fill: #ffffff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    transform: translateY(25px);
}

.social-info{
    margin-left: 10px;
}

.social-info > h3{
    font-size: 1em;
    color: #7477bf;
}

.social-info > h4{
    font-size: 2em;
    margin: 0px;
    color: #777777;
}

/* Member Section */

.member-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.member-image{
    border-radius: 80px;
    width: 100px;
    height: 100px;
}

.member-card > h4 {
    margin: 5px 0;
    text-align: center;

}

.member-card > a {
    color: #7477bf;
}
